<footer class="main-footer">
  <div class="container footer-grid">
    <div class="footer-col about">
      <img src="img/logo.webp" alt="Logo SMP YP 17" class="footer-logo">
      <p class="school-addr">
        Jl. Randu No.17, Sidotopo Wetan, <br>
        Kec. Kenjeran, Surabaya, <br>
        Jawa Timur 60128
      </p>
      <p class="school-phone">Telepon : (031) 376 3721</p>
    </div>

    <div class="footer-col links">
      <h4>Jelajahi</h4>
      <ul>
        <li><a href="Profil.html">Tentang Kami</a></li>
        <li><a href="akademik.html">Fasilitas</a></li>
        <li><a href="#">Prestasi</a></li>
        <li><a href="#">Profil sekolah</a></li>
        <li><a href="Profil guru.html">Profil guru</a></li>
      </ul>
    </div>

    <div class="footer-col links">
      <h4>Tautan Cepat</h4>
      <ul>
        <li><a href="#">Informasi Sekolah</a></li>
 <li>
  <a href="index.html#kontak">
  
    <span>Hubungi kami</span>
  </a>
</li>
        <li><a href="login.html">Login Siswa/Guru</a></li>
        <li><a href="pendaftaran.html">PPDB Online</a></li>
      </ul>
    </div>

    <div class="footer-col work-hours">
      <h4>Jam Kerja</h4>
      <p>Senin – Jumat <br> 07.00 – 15.30 WIB</p>

      <div class="footer-social">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <p>Copyright © 2026 <span>SMP YP 17 Surabaya</span>. All Right Reserved.</p>
    </div>
  </div>
</footer>