<!-- TOP BAR -->
<div class="top-bar">
  <div class="container top-content">
    <div class="contact-info">
      <span><i class="fas fa-map-marker-alt"></i> Jl. Randu No.17, Sidotopo Wetan</span>
      <span><i class="fas fa-envelope"></i> smpyp17sby@gmail.com</span>
      <span><i class="fas fa-phone"></i> (031) 376 3721</span>
    </div>

    <div class="social-links">
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</div>

<header>
  <nav class="navbar container">

    <div class="logo">
      <img src="img/logo.webp" alt="Logo SMP YP 17">
    </div>

    <div class="header-left">
      <div class="hamburger-toggle" id="btn-toggle">
        <i class="fas fa-bars"></i>
      </div>
    </div>

    <ul class="menu">

      <li class="close-item">
    <div class="close-menu" id="btn-close">
      <i class="fas fa-times"></i>
    </label>
  </li>
  
      <li>
        <a href="index.html">
          <i class="fas fa-home"></i>
          <span>Beranda</span>
        </a>
      </li>

      <li>
        <a href="Profil.html">
          <i class="fas fa-school"></i>
          <span>Profil Sekolah</span>
        </a>
      </li>

      <li class="dropdown">
        <a href="#">
          <span class="menu-left">
            <i class="fas fa-book"></i>
            <span>Akademik</span>
          </span>
          <i class="fas fa-chevron-down"></i>
        </a>
        <ul class="dropdown-content">
          <li><a href="ekstrakurikuler.html">Ekstrakurikuler</a></li>
          <li><a href="prestasi.html">Prestasi</a></li>
          <li><a href="profil-guru.html">Profil Guru</a></li>
        </ul>
      </li>

      <li>
        <a href="pendaftaran.html">
          <i class="fas fa-user-plus"></i>
          <span>Pendaftaran</span>
        </a>
      </li>

     <li>
  <a href="index.html#kontak">
    <i class="fas fa-phone"></i>
    <span>Kontak</span>
  </a>
</li>

      <li class="login-item">
        <a href="login.html">
          <i class="fas fa-right-to-bracket"></i>
          <span>Login</span>
        </a>
      </li>
    </ul>

    <div class="nav-right">
      <i class="fas fa-search"></i>
      <a href="login.html" class="apply-btn">Masuk akun</a>
    </div>

  </nav>

  <div class="menu-overlay"></div>
</header>